.details {
  display: flex;
  justify-content: center;
  padding: 140px 0;
  background: $light-gray url(../../img/details.png) center/cover;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px ;
    flex-basis: 47%;
    outline: 1px solid rgba(138, 143, 156, .25);
    outline-offset: -40px;
    background-color: #fff;

    .title__caption {
      padding: 30px 0;
    }
  }

  &__button {
    margin: 0 auto;
    padding: 25px;
    border: 1px solid rgba(138, 143, 156, .25);
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    transition: .2s;

    &:hover {
      border: 1px solid rgba(21, 27, 40, .5);
      a {
        color: $main-dark;
      }
    }

    &:focus,
    &:active {
      outline: none;
    }

    a {
      font: 1.125rem $ff-montserrat;
      letter-spacing: 1.4px;
      color: $main-tan;
      text-decoration: none;
      transition: .2s;
    }
  }
}

@media (max-width: 640px) {
  .details {
    padding: 40px 0;

    &__wrapper {
      padding: 50px;
      outline-offset: -20px;

      .title__caption {
        padding: 30px 0;
      }
    }

    &__button {
      padding: 10px;
    }
  }
}

@media (max-width: 460px) {
  .details {
    &__wrapper {
      flex-basis: 75%;
      padding: 25px;
      outline-offset: -10px;

      .title__caption {
        padding: 10px 0;
      }
    }

    &__button {
      padding: 5px;
    }
  }
}