@import "helpers/reset";
@import "helpers/vars";
@import "helpers/swiper";

@import "sections/header";
@import "sections/title";
@import "sections/footer";
@import "sections/card";
@import "sections/my-modal";

@import "sections/main-slider";
@import "sections/offers";
@import "sections/details";
@import "sections/promo";

@import "sections/menu";

@import "sections/form";

html {
  font-size: 14px;
}

.container {
  max-width: 1920px;
  padding: 32px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 16px;
  }
}